<!DOCTYPE html>
<html>
    <title>许愿墙</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <body>
        <h2 class="title" >{{title}}</h2>
        <!--js 写入数据-->
        <div id="container" data-list="{{list}}">
            
        </div>

        <form action="add" method="post" id="form" style="height: 136px;">
            <input type="text" class="input" id="name" name="name" placeholder="写出你的大名" />
            <input id="content" class="input" type="text" placeholder="许个愿望吧" name="content"/>

            <button class="submit" type="submit">提交</button>
        </form>
        <script src="/javascripts/jquery-3.5.1.js"></script>
        <script src="/javascripts/index.js"></script>
    </body>
</html>